
<% if @task.errors.any? %>
  <div class="bg-danger">
  <p><%= pluralize(@task.errors.count, "error") %> prevented this record from being saved.</p>
  <ul>
  <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  </div>
<% end %>


<%= form_for(@task, html:{class:"form-horizontal"}) do |f| %>
  <div class="form-group">
    <div class="col-sm-2">
    <%= f.label :description, class:"control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-2">
    <%= f.label :due_date, "Due date", class:"control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.date_field :due_date %>
    </div>
  </div>
    
  <% if params[:action] == "edit" %>
    <div class="form-group">
      <div class="col-sm-2">
      <%= f.label :complete, "Complete" %><br>
      </div>
      <div class="col-sm-10">
      <%= f.check_box :complete %>
      </div>
    </div>
  <% end %>

    
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <% if params[:action] == "new" %>
        <div class="actions">
          <%= f.submit "Save", class:"btn btn-primary" %>
          <%= link_to 'Back', tasks_path, class:"btn btn-default"%>
        </div>
      <% elsif params[:action] == "edit" %>
        <div class="actions">
          <%= f.submit "Update task", class:"btn btn-primary" %>
          <%= link_to 'Cancel', tasks_path, class:"btn btn-default"%>
        </div>
        <br>
        <div class="well">
          <%= link_to 'Delete', @task, class: "btn btn-primary", method: :delete %>
        </div>
      <% end %>
    </div>
  </div>

  <br>
<% end %>
