<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New Task', new_task_path, class:"btn btn-info" %>
  </div>
  <h1>Tasks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Due date</th>
      <th>Complete?</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <% if task.due_date && ((Date.today + 7) > task.due_date) %>
        <tr class="danger">
      <% else %>
        <tr>
      <% end %>
        <td><%= task.description %></td>
        <td>
          <% if task.due_date %>
            <%= task.due_date.strftime("%-m/%-d/%Y") %>
          <% end %>
        </td>
        <td>
          <% if task.complete %>
            <span class="glyphicon glyphicon-ok"></span> Yes
          <% else %>
            <span class="glyphicon glyphicon-remove"></span> No
          <% end %>
        </td>
        <td><%= link_to 'Show', task, class:"btn btn-xs btn-success" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class:"btn btn-xs btn-info" %></td>
        <td><%= link_to 'Destroy', task, class:"btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to tasks_path(format: :csv), class: "btn btn-info" do %>
  <span class="glyphicon glyphicon-save"></span>
  <span>Download CSV</span>
<% end %>
