<div class="page-header">
  <div class="pull-right">
    <% if params[:type].nil? %>
      All |
    <% else %>
      <%= link_to "All", tasks_path %> | 
    <% end %>
    <% if params[:type] == "incomplete" %>
      Incomplete | 
    <% else %>
      <%= link_to 'Incomplete', filter_by("incomplete") %> | 
    <% end %>
    <% if params[:type] == "complete" %>
      Complete
    <% else %>
      <%= link_to 'Complete', filter_by("complete") %> 
    <% end %>
    &nbsp; <%= link_to 'New Task', new_task_path, class:"btn btn-info" %>
  </div>
  <h1>Tasks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Description", sort_by("description") %></th>
      <th><%= link_to "Due date", sort_by("date") %></th>
      <th><%= link_to "Complete?", sort_by("complete") %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <% if task.due_date && ((Date.today + 7) > task.due_date) %>
        <tr class="danger">
      <% else %>
        <tr>
      <% end %>
        <td><%= task.description %></td>
        <td>
          <% if task.due_date %>
            <%= task.due_date.strftime("%-m/%-d/%Y") %>
          <% end %>
        </td>
        <td>
          <% if task.complete %>
            <span class="glyphicon glyphicon-ok"></span> Yes
          <% else %>
            <span class="glyphicon glyphicon-remove"></span> No
          <% end %>
        </td>
        <td>
          <div class="pull-right">
            <%= link_to 'Show', task, class:"btn btn-xs btn-success" %>
            <%= link_to 'Edit', edit_task_path(task), class:"btn btn-xs btn-info" %>
            <%= link_to 'Destroy', task, class:"btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to tasks_path(format: :csv), class: "btn btn-info" do %1> %>
<%#   <span class="glyphicon glyphicon-save"></span> %>
<%#   <span>Download CSV</span> %>
<%# <% end %1> %>
