<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New Task', new_task_path, class:"btn btn-info" %>
  </div>
  <h1>Tasks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Complete?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.complete %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="pull-right"><%= link_to 'Download CSV', tasks_path(format: :csv), class: "btn btn-info glyphicon glyphicon-download-alt"%></div>
