<% if notice %>
  <p id="notice" class="alert alert-success text-center"><%= notice %></p>
<% end %>

<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New project', new_project_path, class:"btn btn-info" %>
  </div>
  <h1>Projects</h1>
</div>

  <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td>
          <div class="pull-right">
            <%= link_to "Show", project, class:"btn btn-xs btn-success", id:"show-project-#{project.id}-action" %>
            <%= link_to "Edit", edit_project_path(project), class:"btn btn-xs btn-info", id:"edit-project-#{project.id}-action" %>
            <%= link_to "Destroy", project, class:"btn btn-xs btn-danger", id:"delete-project-#{project.id}-action", method: :delete %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

