<!DOCTYPE html>
<html>
  <head>
    <title>Gcamp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <%= link_to "gCamp", root_path, class: "navbar-brand" %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>


      <hr>

      <%= link_to "About", about_path %> <%= link_to "Terms", terms_path %>

      <br>
      <br>

    </div>
  </body>
</html>
